.select-language {
  color: rgb(102, 101, 101);
  cursor: pointer;
  display: flex;
  position: relative;
  width: fit-content;
  padding: 8px 7.5px;
  align-items: center;
  justify-content: center;
  width: 165px;
}
.select-language .arrow {
  margin-left: 10px;
}
.select-language .single-language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5px 6px 3.5px;
  margin:3.5px 0;
  width: 100%;
}
.select-language .single-language .flag {
  width: 40px;
}
.select-language .single-language .text {
  color: gray;
  flex: 1;
  font-size: 0.875em;
  
}
.select-language .single-language:hover {
  background-color: white;
}
.select-language .single-language.selected {
  background-color:  white;
}
.select-language .dropdown {
  position: absolute;
  bottom: 40px;
  left: -1px;
  right: -1px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  border: 1px solid #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
  border-bottom: none;
  visibility: hidden;
  padding: 5px 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.select-language:hover {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid transparent;
}
.select-language:hover .dropdown {
  max-height:200px;
  overflow-y: auto;
  visibility: visible;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a1aec4;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aeb8c9;
    border-radius: 3px;
  }
}
.select-language img {
  margin-right: 10px;
  width: 35px;
}

@media(max-width:1475px){
  .select-language {
    padding: 6px;
    border-radius: 5px;
    width: 145px;
  }
  .select-language .arrow {
    margin-left: 7.5px;
  }
  .select-language .single-language {
    padding: 2.5px 5px 3px;
    margin:3px 0;
  }
  .select-language .single-language .flag {
    width: 35px;
  }
  .select-language .dropdown {
    bottom: 33px;
    padding: 4px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .select-language img {
    margin-right: 10px;
    width: 30px;
  }
}

@media(min-width:1500px){
.select-language:hover .dropdown {
  max-height:300px;
  &::-webkit-scrollbar {
    width: 7.5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
}

}