@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  height: 80px;
  background: rgb(255, 255, 255); /* Default background color */
  color: rgb(0, 0, 0);
  box-shadow: none; /* Remove any box shadow if applied */
  position: absolute; /* Ensure it sits on top of other content */
  width: 100%; /* Make sure it spans the full width */
  top: 0; /* Position it at the top of the page */
  left: 0; /* Align it to the left edge */
  z-index: 10; /* Ensure it is above other content */
  overflow-x: hidden; /* Prevent horizontal overflow */
  box-sizing: border-box; /* Include padding in width calculation */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color changes */
}

.homepage-navbar {
  background-color: rgb(255, 255, 255); // example styling
  color: #000000; 

  .navbar-logo p,
  .navbar-tabs a
  {
    color: rgb(0, 0, 0);
  }
  .apply-now{
    color: rgb(0, 0, 0);
  }

  .contact {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
  }
}


.Navbar.fixed {
  background-color: rgba(255, 255, 255); /* White background with slight transparency */
  color: rgb(0, 0, 0); /* Black text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  .navbar-tabs a {
    color: rgb(0, 0, 0); 
  }

  .navbar-logo p {
    color: rgb(0, 0, 0);
  }

  .apply-now{
    color: rgb(0, 0, 0);
  }

  .contact {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
  }
}

.navbar-logo {
  display: flex;
  align-items: center; 
  text-decoration: none;
}

.Logo{
  content: url("../../../../assets/Nav/Subtraction\ 1.png");
  margin-right: 10px; /* Add space between the image and the text */
  width: 30px;
  height: 30px;
}

.navbar-logo p {
  margin: 0; /* Remove default margin */
  font-size: 1.2em; /* Adjust font size as needed */
  color: rgb(0, 0, 0);
}

.navbar-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap if necessary */
}

.navbar-tabs a{
  font-size: max(15px, 1vw);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 10px 22px;
  position: relative;
  color: #000000;
  // color: rgb(255, 255, 255);
}


.navbar-buttons {
  display: flex;
  gap: 10px;
  align-items: center; /* Align buttons vertically center */
  flex-wrap: wrap; /* Allow wrapping if necessary */
}

.apply-now,
.contact {
  width: 7.222vw;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 0.889vw;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 0.556vw 0.833vw;
  position: relative;
}

.apply-now {
  color: rgb(0, 0, 0); /* White text color */
  background-color: transparent; /* Initial background color */
  border: none; /* Remove any borders */
  cursor: pointer; /* Change cursor to pointer */
  font-family: 'Montserrat', sans-serif; /* Font family */
  padding: 0.556vw 0.833vw;
  text-decoration: none; /* Remove underline from text */
  transition: 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
}

.apply-now:hover {
  color: #333; /* Dark grey background on hover */
}

.contact {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.sidebar-toggle {
  display: none;
}

.theme-switcher{
  display: block;
}

@media screen and (max-width: 1260px) {
  .navbar-tabs a{
    padding: 10px 15px;
  }
}

@media screen and (max-width: 1052px) {
  .navbar-tabs a{
    padding: 10px 15px;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1038px) {
  .theme-switcher{
    display: none;
  }
  .Navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 25px;
  }

  .navbar-tabs {
    display: none;
  }

  .apply-now,
  .contact {
    display: none;
  }

  .sidebar-toggle {
    display: block;
    background: none;
    color: #000000;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
  }
  
  .sidebar-open .backdrop {
    display: block;
  }

  .Navbar.fixed {
    .sidebar-toggle {
      color: rgb(0, 0, 0);
    }
  }
}

@media screen and (max-width: 480px) {
  .navbar-logo img {
    height: 25px;
    width: 25px;
  }

  .navbar-tabs a {
    font-size: 13px; // Maintain consistent font size
    padding: 8px;
  }

  .navbar-buttons {
    gap: 5px;
  }

  .apply-now,
  .contact {
    font-size: 13px; // Maintain consistent font size
    padding: 6px 0;
    width: 25%; /* Maintain button alignment on smaller screens */
  }
}

@media screen and (max-width: 360px) {
  .Navbar {
    padding: 23px;
  }

  .navbar-logo img {
    height: 18px;
    width: 18px;
  }

  .apply-now,
  .contact {
    font-size: 13px; // Maintain consistent font size
    padding: 4px 0;
    width: 20%;
  }

  .sidebar-toggle {
    right: 15px;
  }
}

@media screen and (max-width: 320px) {
  .Navbar {
    padding-left: 7px;
  }

  .navbar-logo img {
    height: 15px;
  }

  .apply-now,
  .contact {
    font-size: 13px; // Maintain consistent font size
    padding: 3px 0;
    width: 18%;
  }

  .sidebar-toggle {
    right: 5px;
  }
}

body.dark-mode{
  .homepage-navbar {
    background-color: transparent;
    color: #ffffff; 
  
    .navbar-logo p,
    .navbar-tabs a,
    .apply-now
    {
      color: rgb(255, 255, 255);
    }
    .contact {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    .Logo{
      content: url("../../../../assets/Subtraction\ 2.png");
    }
    .sidebar-toggle {
      color: #ffffff;
    }
  }
  .Navbar.fixed {
    background-color: rgba(255, 255, 255); /* White background with slight transparency */
    color: rgb(0, 0, 0); /* Black text color */
  
    .navbar-tabs a,
    .navbar-logo p,
    .apply-now
    {
      color: rgb(0, 0, 0); 
    }
    .contact {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
    .Logo{
      content: url("../../../../assets/Nav/Subtraction\ 1.png");
    }
    .sidebar-toggle {
      color: #000000;
    }
  }
}