.become-model-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../../../assets/Become Model/s_0067-lines.png') no-repeat center center;
  background-size: cover;
  height: 29.167vw;
  padding: 1.667vw; // Adjust padding as needed
  margin-top: 8.333vw;
}

.left-image {
  position: absolute;
  top: 15%;
  left: -10%;
  transform: translateY(-50%);

  .left-Image {
    content: url('../../../assets/Become Model/Become a model at modelkos now -.png');
    width: 33.333vw;
    height: 33.333vw;
  }
}

.center-content {
  position: relative;
  text-align: center;
  width: 100%;
}

.center-image {
  content: url('../../../assets/Become Model/Become a model at modelkos now -.png');
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16.667vw;
  height: 16.667vw;
}

.center-content p {
  margin-top: 4.167vw;
  color: #000;
  font-size: 0.833vw;
  padding-left: 18.75vw;
  padding-right: 18.75vw;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

.center-content .mLogo {
  content: url('../../../assets/Become Model/Subtraction 3.png');
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.333vw;
  height: 3.333vw;
}

@media screen and (max-width: 1200px) {
  .center-content p {
    margin-top: 4.167vw;
    color: #000;
    font-size: 1vw;
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

@media screen and (max-width: 916px) {
  .left-image {
    display: none;
  }

  .center-image {
    width: 20vw;
    height: 20vw;
  }
  .center-content .mLogo {
    width: 4vw;
    height: 4vw;
  }
  .center-content p {
    margin-top: 1vw;
    font-size: 1.6vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 600px) {
  .become-model-container {
    margin-top: 16vw;
  }
  .center-image {
    width: 25vw;
    height: 25vw;
  }
  .center-content .mLogo {
    width: 6vw;
    height: 6vw;
  }
  .center-content p {
    margin-top: 0.8vw;
    font-size: 1.9vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (max-width: 450px) {
  .become-model-container {
    margin-top: 30vw;
    height: 37vw;
  }
  .center-image {
    width: 35vw;
    height: 35vw;
    top: -80%;
  }
  .center-content .mLogo {
    width: 8vw;
    height: 8vw;
    top: -80%;
  }
  .center-content p {
    margin-top: -3vw;
    font-size: 2.9vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}

@media screen and (max-width: 350px) {
  .become-model-container {
    margin-top: 32vw;
    height: 45vw;
  }
  .center-image {
    width: 38vw;
    height: 38vw;
    top: -75%;
  }
  .center-content .mLogo {
    width: 9vw;
    height: 9vw;
    top: -75%;
  }
  .center-content p {
    margin-top: -3vw;
    font-size: 3.1vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}