.blog-banner {
    margin-top: 5%;
    position: relative;
    background-image: url('../../../assets/OurBlog/banner.png');
    background-size: cover;
    background-position: center;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
  
    .banner-content {
      position: relative;
      z-index: 2;
      text-align: center;
      color: white;
      margin-top: -4vw;
  
      .BlogBannerH {
        font-size: 5rem;
        margin-bottom: 20px;
        margin-left: 0;
      }

      .search-bar {
        position: relative;
        display: flex;
        align-items: center;
  
        .search-icon {
          position: absolute;
          left: 10px;  // Adjust position as needed
          width: 11px;
          height: auto;
        }
  
        .search-input {
          padding: 15px 10px 15px 25px; 
          background-color: rgba(79, 79, 79, 0.5); /* Grey background with 50% transparency */
          color: #ffffff !important;
          border: 1px solid rgb(144, 144, 144);
          outline: none;
          font-size: 0.75rem;
          width: 550px;
        }
      }
    }

    ::placeholder{
      color: white;
    }

    @media (max-width: 700px) {
      .banner-content{
        .search-bar {
          .search-input {
            width: 40vw;
          }
        }
      }
    }

    @media (max-width: 430px) {
      .banner-content{
        .BlogBannerH {
          font-size: 4rem;
        }
        .search-bar {
          .search-input {
            width: 30vw;
          }
        }
      }
    }

    @media (max-width: 320px) {
      .banner-content{
        .BlogBannerH {
          font-size: 3.5rem;
        }
        .search-bar {
          .search-input {
            width: 25vw;
          }
        }
      }
    }
  }

  .blog-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/OurBlog/overlay.png');
    z-index: 1; 
  }
  