.talent-container {
    display: flex;
    justify-content: space-between; /* Align left and right parts in a row */
    align-items: flex-start; /* Align items to the top */
    padding: 1.111vw;
    margin-top: 5%;
  }
  
  .leftOne {
    flex: 55%;
    display: flex;
    justify-content: center; 
  }
  
  .left-image1 {
    content: url('../../../assets/Talent/talent1.png');
    max-width: 100%; 
    height: auto; 
    margin-left: -5%;
  }
  
  .rightOne {
    flex: 45%;
    padding-left: 2.778vw; 
    margin-top: -2.6%;
  }
  
  .rightOne p {
    margin-bottom: 0.556vw; 
    font-size: 2.3vw;
    line-height: 0.2;
  }
  
  .rightOne p:nth-of-type(2) {
    margin-left: 1.667vw; /* Add the desired left margin */
  }
  
  .rightOne span {
    font-size: 1.24vw;
  }
  
  .lastSpan {
    line-height: 3;
    display: inline-block;
    transform: translateX(-1.5vw); 
  }
  
  .right-image1 {
    content: url('../../../assets/Talent/talent2.png');
    max-width: 100%; /* Make the image responsive */
    height: auto;
    margin-top: 1.111vw; /* Add spacing above the image */
  }
  
  /* Media query for screen sizes 1200px or less */
  @media (max-width: 1200px) {
    .talent-container {
      flex-direction: column; /* Stack the left and right sections */
      align-items: center; /* Center-align the content */
    }
  
    .leftOne, .rightOne {
      flex: 100%; 
      margin-bottom: 2vw; 
    }
  
    .left-image1 {
        max-width: 80%;
        margin-left: 0%;
      }
  
    .rightOne {
        padding-left: 0vw; 
        margin-top: 0%;
        justify-content: center;
        text-align: center;
      }

    .right-image1 {
        max-width: 80%; /* Make the image responsive */
        margin-top: 1vw; /* Add spacing above the image */
    }
    .rightOne p {
        margin-bottom: 0.556vw; 
        font-size: 2.3rem;
    }
      
    .rightOne p:nth-of-type(2) {
        margin-left: 0vw;
    }
      
    .rightOne span {
        font-size: 1.3rem;
    }

    .lastSpan {
        transform: translateX(0vw); 
    }
  }
  
  @media (max-width: 523px){
    .lastSpan {
        line-height: 5;
    }
  }

  @media (max-width: 519px){
    .rightOne p {
        line-height: 0.8;
      }
  }

  @media (max-width: 444px){
    .rightOne p {
        line-height: 1.2;
      }
  }

  @media (max-width: 340px){
    .lastSpan {
        line-height: 1;
    }
  }