.our-blog {
    margin: 0 1.95vw;
    .blog-post-card {
      margin: 0 3.7vw; // Adjust the value to your desired spacing
      background-color: #fff; // Optional: Set a background color for the card
      font-family: 'Montserrat', sans-serif;
      height: 40vw;
    }
  
    .blog-post-image-container {
        position: relative; // This container will hold the image and overlay
      }
      
      .blog-post-image {
        width: 100%;
        height: auto;
        display: block; // Ensures no extra spacing
      }
      
      .image-overlay {
        position: absolute; // Position the overlay on top of the image
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay
        opacity: 0; // Start with overlay hidden
        transition: opacity 0.3s ease; // Smooth transition for the overlay appearance
      }
      
      .blog-post-card:hover .image-overlay {
        opacity: 1; // Show the overlay on hover
      }

      .blog-post-card:hover .OurBlogText{
        display: flex;
      }
    
    .our-blog-header {
        font-size: 5.22vw;
        margin-bottom: 4.4vw;
        font-weight: normal;
        text-align: center;
        margin-left: 0.1vw;
      }
      
    .blog-post-content {
      margin-top: 0.556vw;
    }
  
    .blog-post-date {
        display: block;
        font-size: 0.78vw;
        padding-top: 0.85vw;
        margin-bottom: 0.769vw;
        font-family: 'Montserrat', sans-serif;
    }
  
    .blog-post-title {
        font-size: 1.04vw;
        padding-top: 0.3vw;
        line-height: 2.25;
        font-weight: 500;
    }
  
    .blog-post-text {
        font-size: 0.8vw;
        line-height: 2.5;
        margin-top: -0.35vw;
    }
    .OurBlogText{
      display: none;

      button{
        margin-left: -0.4vw;
        margin-top: 1vw;
        font-size: 0.8vw;
        border: none;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        margin-right: 0.3vw;
        color: rgb(0, 0, 0);
      }

      .button-logo{
        margin-top: 1.35vw;
        height: 0.6vw;
      }
    }
    .pagination-dots5 {
        display: flex;
        justify-content: center;
        margin-top: 0.5vw;
        margin-bottom: 1.5vw;
    }
    
    .dot5 {
        width: 0.556vw;
        height: 0.556vw;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 0.222vw;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .dot5.active {
        background-color: #333;
        width: 0.722vw; // Increase the size of the dot when active
        height: 0.722vw;
        margin-top: -0.05vw;
    }
    .ReadAllButtonContainer{
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .read-all-button {
        margin-bottom: 5.6vw;
        padding: 0.769vw 1.538vw;
        background-color: rgb(28, 28, 28);
        color: white;
        border: none;
        border-radius: 0.385vw;
        cursor: pointer;
        font-size: 0.85vw;
        width: 8.7vw;
    }
      
    .read-all-button:hover {
        background-color: #333;
    }
    .carousel-container {
        position: relative;
    }
      
    .custom-Prev-arrow, .custom-Next-arrow {
        cursor: pointer;
    }
    .rec-arrow {
        display: none !important; // Hides default arrows
    }

    .custom-prev-arrow {
      background: url('../../../assets/left.png') no-repeat center;
      background-size: contain;
      width: 2.6vw;
      height: 2.6vw;
      position: absolute;
      left: 0.3vw;
      top: 47%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1; /* Ensure arrows are clickable */
    }

    .custom-next-arrow {
      background: url('../../../assets/right.png') no-repeat center;
      background-size: contain;
      width: 2.6vw;
      height: 2.6vw;
      position: absolute;
      right: 0.3vw;
      top: 47%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1; /* Ensure arrows are clickable */
  }

  @media (max-width: 1000px) {
    .blog-post-card {
      height: 420px;
    }
    .blog-post-date {
      font-size: 0.56em; // Adjust font size for smaller screens
    }

    .blog-post-title {
      font-size: 0.666em; // Adjust font size for smaller screens
    }

    .blog-post-text {
      font-size: 0.56em; // Adjust font size for smaller screens
    }

    .read-all-button {
      font-size: 0.56em;
      width: 95px;
      height: 28px;
    }
    .OurBlogText{
      button{
        margin-left: -5.74px;
        font-size: 0.56em;
      }
      .button-logo{
        height: 6.56px;
      }
    }
    .custom-prev-arrow {
      width: 32.8px;
      height: 32.8px;
      left: -2px;
      top: 47%;
    }

    .custom-next-arrow {
      width: 32.8px;
      height: 32.8px;
      right: -2px;
      top: 47%;
    }
    .dot5 {
      width: 6.56px;
      height: 6.56px;
      margin: 0 4.1px;
    }
    
    .dot5.active {
      width: 1vw; // Increase the size of the dot when active
      height: 1vw;
      margin-top: -0.18vw;
    }
  }

  @media (max-width: 820px) {
    .blog-post-card {
      height: 485px;
    }
    .blog-post-date {
      font-size: 0.625em; // Adjust font size for smaller screens
    }

    .blog-post-title {
      font-size: 0.75em; // Adjust font size for smaller screens
    }

    .blog-post-text {
      font-size: 0.625em; // Adjust font size for smaller screens
    }

    .read-all-button {
      font-size: 0.625em;
      width: 100px;
      height: 33px;
    }
    .OurBlogText{
      button{
        margin-left: -5.74px;
        font-size: 0.625em;
      }
      .button-logo{
        height: 6.56px;
      }
    }
    .custom-prev-arrow {
      width: 32.8px;
      height: 32.8px;
      left: -2px;
      top: 47%;
    }

    .custom-next-arrow {
      width: 32.8px;
      height: 32.8px;
      right: -2px;
      top: 47%;
    }
  }

  @media (max-width: 670px) {
    .pagination-dots5 {
      margin-top: -2vw;
    }
  }
    @media (max-width: 593px) {
      .our-blog-header{
        font-size: 2.25em;
      }
      .blog-post-card {
        width: 85%;
        height: 470px;
      }
      .blog-post-image {
          width: 100%;
          height: 266.85px;
      }
      .blog-post-date {
        font-size: 0.59em; // Adjust font size for smaller screens
      }
  
      .blog-post-title {
        font-size: 0.74em; // Adjust font size for smaller screens
      }
  
      .blog-post-text {
        font-size: 0.59em; // Adjust font size for smaller screens
      }
      .OurBlogText{
        button{
          margin-left: -4.15px;
          font-size: 0.59em;
        }
        .button-logo{
          height: 7.2px;
        }
      }
      .read-all-button {
        font-size: 0.59em;
        width: 118.6px;
        height: 29.65px;
      }
      .custom-prev-arrow {
        width: 29.65px;
        height: 29.65px;
        left: 5.93px;
        top: 47%;
      }
  
      .custom-next-arrow {
        width: 29.65px;
        height: 29.65px;
        right: 5.93px;
        top: 47%;
      }
      .pagination-dots5 {
        margin-top: 1vw;
      }
      .dot5 {
        width: 5.93px;
        height: 5.93px;
        margin: 0 2.97px;
      }
      
      .dot5.active {
        width: 7.12px; // Increase the size of the dot when active
        height: 7.12px;
      }
    }

    @media (max-width: 480px) {
      .blog-post-card {
        height: 470px;
      }
      .blog-post-image {
          width: 100%;
          height: 240px;
      }
    }

    @media (max-width: 420px) {
      .blog-post-card {
        height: 470px;
      }
      .blog-post-image {
          width: 100%;
          height: 220px;
      }
      .custom-prev-arrow {
        left: 0px;
      }
      .custom-next-arrow {
        right: 0px;
      }
    }

    @media (max-width: 370px) {
      .blog-post-card {
        height: 455px;
      }
      .blog-post-image {
          width: 100%;
          height: 190px;
      }
    }
}